<div class="col-xs-1"></div><!--左の余白生成用タグ-->
<div class="col-xs-7 col-xs-offset-2">
  <h1>About</h1>
  <p>
    photo noteは<br>
    画像および、その画像の撮影条件を共有し、様々な写真の撮り方を広く知ってもらい、<br>
    photolifeをより楽しくすることを目指すサイトです。
  </p>
</div>
