<div class="col-xs-7 col-xs-offset-2">

  <!-- 以下フラッシュメッセージ-->
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <!-- フラッシュメッセージここまで-->

  <%= render 'layouts/post_list', photos: @photos %><!--投稿一覧の部分テンプレート-->
</div>

<div class="col-xs-3">
  <%= render 'layouts/sort', photo: @photo, select: @select %><!--ソートフォームの部分テンプレート-->
</div>

<div class="to-top">
  <a href="#">
    <span class="glyphicon glyphicon-chevron-up" style="font-size: 40px" aria-hidden="true"></span>
  </a>
</div>