/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// header .navbar-left {
// 	position: relative；
// }

// header .navbar-left p {
// 	display:inline-block;
// 	position:absolute;
// 	top: 50%;
//   transform: translate(0, -50%)
// }

// リセットCSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

body {
  background-color: #FAFAFA;
}

.navbar {
  background-color: #E0E0E0;
}

.title {
  margin:0 auto;
  font-size:34px;
}

.frame {
  min-height: 82vh;
}

#preview {
  height: 455px;
  width: 640px;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.footer {
  margin-top: 50px;
  background-color: #BDBDBD;
  text-align: right;
  bottom: 0;
}

.footer-text {
  margin-bottom: 0px;
}

.box {
  height: 80px;
}